
.pitch-unique {
  width: 100%;
  margin-bottom: 2px;
}

.btn-booking-pitch {
  width: 100%;
}

.pitch-review {
  color: #1EDD87;
}

.column-pitch h4 {
  color:#00C585;
}

.column-pitch {
  height: 100%;
}
